.texto{
  color:green;
  font-weight: bold;
  border: 1px solid blue;
  text-align: justify;
}
.texto:hover{
  color:red;
  font-weight: normal;
  border: 1px solid orange;
}
.boton{
  color:red;
  font-weight: normal;
  border: 1px solid orange;
}
.botton{
  color:blue;
  font-weight: normal;
  border: 1px solid orange;
}
